{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="{% static 'todo/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <form method="POST" action="{% url 'accounts:user-logout' %}" class="logout-form">
        {% csrf_token %}
        <button type="submit" class="logout-btn">Logout</button>
    </form>

    <div class="weather-container">
        <h4>Weather Status</h4>
        <p><strong>{{ weather_data.location.name }}</strong></p>
        <p>{{ weather_data.current.temp_c }} °C, {{ weather_data.current.condition.text }}</p>
        <p><em>Data loaded from: {{ weather_data.source }}</em></p>
    </div>    

    <div class="todo-container">
        <h2>Todo List</h2>

        <form method="POST" action="{% url 'todo:task-create' %}" class="task-form">
            {% csrf_token %}
            <input type="text" id="task-input" name="title" placeholder="New Task" required>
            <button type="submit" class="add-task-btn">Add Task</button>
        </form>

        <ul id="todo-list">
            {% for task in tasks %}

            <li>
                {% if task.is_done %}
                <s>{{task.title}}</s>
                {% else %}
                <span>{{task.title}}</span>
                {% endif %}

                <div class="action-buttons">
                    <form method="POST" action="{% url 'todo:task-toggle' pk=task.id %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="{% if task.is_done %}undo-btn{% else %}done-btn{% endif %}">
                            {% if task.is_done %}Undo{% else %}Done{% endif %}
                        </button>
                    </form>

                    <form method="POST" action="{% url 'todo:task-update' pk=task.id %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="edit-btn">Edit</button>
                    </form>

                    <form method="POST" action="{% url 'todo:task-delete' pk=task.id %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="delete-btn">Delete</button>
                    </form>
                </div>
            </li>
            
            {% endfor %}
        </ul>
    </div>
</body>
</html>
